//SCSS 파일 Import
@import "reset.scss";
@import "variables";
@import "fonts";
// Core Color System

// State-based Colors
$state-hover: var(--blue-600, #0369a1);
$state-active: var(--blue-500, #047ec1);
$state-disabled: var(--gray-30, #d0d0d0);

// Theme Settings
:root {
    // Base colors
    --white: #{$white};
    --black: #{$black};
    --error: #{$error};
    // Light Theme (Default)
    --background: #{$bgColor};
    --background-out: #{$bgOutColor};
    --foreground: #{$gray-100};

    --primary: #{$primary};
    --secondary: #{$secondary};
    --active: #{$active};
    --hover: #{$hover};

    // Gray scale
    --gray-default: #{$gray-default};
    --gray-10: #{$gray-10};
    --gray-20: #{$gray-20};
    --gray-30: #{$gray-30};
    --gray-40: #{$gray-40};
    --gray-50: #{$gray-50};
    --gray-60: #{$gray-60};
    --gray-70: #{$gray-70};
    --gray-80: #{$gray-80};
    --gray-90: #{$gray-90};

    // Blue scale
    --blue-50: #{$blue-50};
    --blue-80: #{$blue-80};
    --blue-100: #{$blue-100};
    --blue-200: #{$blue-200};
    --blue-300: #{$blue-300};
    --blue-400: #{$blue-400};
    --blue-500: #{$blue-500};
    --blue-600: #{$blue-600};
    --blue-700: #{$blue-700};
    --blue-800: #{$blue-800};
    --blue-900: #{$blue-900};

    // Component states
    --light: #{$gray-10};
    --light-hover: #{$gray-20};
    --light-active: #{$gray-30};

    --normal: #{$gray-50};
    --normal-hover: #{$gray-60};
    --normal-active: #{$gray-70};

    --dark: #{$gray-80};
    --dark-hover: #{$gray-90};
    --dark-active: #{$gray-100};

    // Layout variables
    --content-pd: 20px;

    // font-style
    --font-family-base: "Inter", sans-serif;
    --font-family-gowun: "Gowun Dodum", sans-serif;
    --font-size-base: 16px;
    --font-weight-base: 400;
    --font-weight-bold: 700;

    --vh:100%
}

body {
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    background-color: var(--white);
   
}
html {
    font-family: var(--font-family-base), sans-serif;
}

@font-face {
    font-family: "Gowun Dodum";
    src: url("/fonts/GowunDodum-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Dark Theme
// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #0a0a0a;
//         --foreground: #ededed;

//         // Adjust other colors for dark mode if needed
//         --light: #2a2a2a;
//         --light-hover: #3a3a3a;
//         --light-active: #4a4a4a;
//     }
// }

// Base styling
