.navigate {
    @include flexitems;
    button {
        position: left;
    }
    .navigate-wrapper {
        @include flexitems;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: auto;
        color: var(--blue-300);
        font-weight: 200;
        font-size: 14px;
        .admin-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--primary);
            font-weight: 400;
            gap: 2px;
            .admin-text {
                font-weight: bold;
            }
        }
    }
    &.admin {
        .admin-text {
            color: var(--primary);
        }
    }
}
