.headerWrapper {
    padding: 0 var(--content-pd);
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        width: auto;
        
    }
    img {
        cursor: pointer;
        display: block;
    }
}
