.inner {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px $p-mobile 85px $p-mobile;
}

.layout-inner {
    position: relative;
    // .layout-header {
    // }
}

.headerWrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 390px;
    z-index: 100;
    padding: 0 var(--content-pd);
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        width: auto;
    }
    img {
        cursor: pointer;
        display: block;
        width: 65px;
        height: 26px;
    }
}
.page-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff; // 전체 화면 배경

    .page-inner {
        width: 100%;
        max-width: 390px;
        height: calc(100vh - 50px); // 헤더 높이만큼 뺌
        margin-top: 50px; // 헤더 공간만큼 내려줌
        background-color: var(--background);
        overflow-y: auto; // 필요 시 내부 스크롤 가능
    }
}
