.inner {
    position: relative;
    min-height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 35px 20px 85px 20px;
    overflow: hidden;
}

.layout-wrapper {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        max-width: 390px;
    }
}
.headerWrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    z-index: 50;
    padding: 0 var(--content-pd);
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
        max-width: 390px;
    }
    a {
        width: auto;
    }
    img {
        cursor: pointer;
        display: block;
        width: 65px;
        height: 26px;
    }
}
.page-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff;

    .page-inner {
        width: 100%;
        max-width: 390px;
        height: calc(100vh - 50px);
        margin-top: 50px;
        background-color: var(--background);
        overflow-y: auto;
    }
}
