.inner {
    position: relative;
    width: 100%;
    max-width: $grid;
    margin: 0 auto;
    padding: 35px $p-mobile 85px $p-mobile;
}

.headerWrapper {
    padding: 0 var(--content-pd);
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        width: auto;
    }
    img {
        cursor: pointer;
        display: block;
    }
}
.page-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff; // 전체 화면 배경

    .page-inner {
        width: 100%;
        max-width: 390px;
        min-height: 100vh;
        background-color: var(--background); // 390px 내부만 배경
    }
}


