
.question-title{
    font-family: var( --font-family-gowun);
    font-size: 17px;
    margin: 80px 0;
    text-align: center;
}
.prev-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}